.u-subtext {
    color: var(--rng-grey-700);
}

.u-bold {
    font-weight: bold;
}

.u-text-small {
    font-size: 14px;
}

.u-flex {
    display: flex;
}

.u-flex-column {
    flex-direction: column;
}
